:root{
    
    --Total_color: royalblue; /* para os valores totais */

    --Arruamento_color:lightgreen;  /* para os arruamentos*/
    
    --autoestrada_color:lightslategrey;       /* para as autoestradas*/

    --Emunicipal_color:darkorange;       /* para as estradas municipais*/
        
    --Enacional_color:orangered; /* para as estradas nacionais*/

    --IPIC_color:mediumvioletred;    /* para as ips e ics*/

    --Outras_color:crimson;/* para as outras*/


}


.axis path{
    fill:none;
    stroke:black;
}
.axis {
    font-size:8pt;
    font-family:sans-serif;
}
.tick {
    fill:none;
    stroke:black;
}
circle{
    fill: green;
    opacity: 0.6;
}

path{ 
    fill:none;
    stroke:black;   
    stroke-width: 2px;
    
}
/* para o valor total*/
path.Total{
    stroke:var(--Total_color);
    stroke-width: 2px;
    fill:none;
}
circle.Total{
    fill: var(--Total_color);
    opacity: 0.6;
}

/* para os arruamentos*/
path.Arruamento{
    stroke:var(--Arruamento_color);
    stroke-width: 2px;
    fill:none;

}
circle.Arruamento{
    fill: var(--Arruamento_color);
    opacity: 0.6;

}

/* para as autoestradas*/
path.Autoestradas{
    stroke:var(--autoestrada_color);
    stroke-width: 2px;
    fill:none;
}
circle.Autoestradas{
    fill: var(--autoestrada_color);
    opacity: 0.6;
}

/* para as estradas municipais*/
path.Emunicipall{
    stroke:var(--Emunicipal_color);
    stroke-width: 2px;
    fill:none;
}
circle.Emunicipal{
    fill: var(--Emunicipal_color);
    opacity: 0.6;
}


/* para as estradas nacionais*/
path.Enacional{
    stroke:var(--Enacional_color);
    stroke-width: 2px;
    fill:none;
}
circle.Enacional{
    fill: var(--Enacional_color);
    opacity: 0.6;
}
/* para as ips e ics*/
path.IPIC{
    stroke:var(--IPIC_color);
    stroke-width: 2px;
    fill:none;
}
circle.IPIC{
    fill: var(--IPIC_color);
    opacity: 0.6;
}
/* para as outras*/
path.Outras{
    stroke:var(--Outras_color);
    stroke-width: 2px;
    fill:none;
}
circle.Outras{
    fill: var(--Outras_color);
    opacity: 0.6;
}
